<div role="banner">
  <h4 style="text-align:center">Pie Chart For Browser usage of &nbsp; Eduforbetterment.com</h4>
  <div class="col-md-12">
    <div class="cStyle col-sm-6 col-xs-10" *ngFor="let cdata of keys">
      <b>Chart Name : </b> {{chartDataMap[cdata].name}}<br/>
      <canvas baseChart
              [data]="chartDataMap[cdata].pieChartData"
              [labels]="chartDataMap[cdata].pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>

</div>

